header {
    background-color: lightblue;
    background-image: url("./img/pattern.png");
    height: 150px;
    position: relative;
}

header > img {
    position: absolute;
    bottom: 10px;
    left: 5px;
}

